* {
  padding: 0;
  margin: 0;
}

.background {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  text-align: center;

}

.grid {
  padding-top: 2rem;
  width: 65vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 1500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  } 
}
.movieSearch {
  height: 40px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
}

.movieSearch:focus {
  outline: none;
  border: 2px solid grey;
}

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #a30003;
}

/* Other styles*/
body {
  color: #fff;
  background: var(--background-gradient);
}
h1 {
  margin: 0 0 0.25em;
}
a {
  font-weight: bold;
  color: var(--gray);
  text-decoration: none;
  padding: .25em;
  border-radius: .25em;
  background: white;
}
