* {
  padding: 0;
  margin: 0;
}

.background {
  background-color: black;
  height: 100vh;
  text-align: center;
}

.grid {
  padding-top: 2rem;
  width: 65vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.movieSearch {
  height: 40px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 20px;
}

.movieSearch:focus {
  outline: none;
  border: 2px solid grey;
}